body{
    background-color: rgb(53, 63, 0);
    color: white ;
}

.container{
    color: rgb(238, 255, 1);
    border: solid 2px rgb(0, 0, 0);
    box-shadow:20px 10px black;
    background-color: #0c0038;
    margin-left: 35%;
    width: 450px;
    padding: 60px;
    border-radius: 30px;
    margin-top: 10%;
    border: 0px;
}

.h1{
    color: rgb(238, 255, 1);
    margin-left: 22%;
    border: 0px;
    border-radius: 30px;
    margin-top: 5%;

}
.botao{
    color: white;
    background-color: #2a2a2a;
    margin-left: 38%;
}

.botao:hover{
    color: #2a2a2a;
    background-color: white;
}

input {
    bottom: 0;
    font-size: 35px;
}

label {
    top:0;
    font-size: 20px;
}

.caixas {
    margin-top: 5%;
    font-size: small;
}